#### system
pip
ipython

#### utils
pytz
PyYAML
loguru
requests
httpx
httpx[http2]
httpx[socks]
# PySocks
jupyterlab

#### data science
numpy
scipy
pandas
xlrd
polars
# tabulate
matplotlib
# seaborn
# torch
# tiktoken
transformers
