# ==============================
# LLM
# ==============================

OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxx
# Graphiti 当前官方默认模型
MODEL_NAME=gpt-5.5

# 如果使用 OpenAI compatible API： OPENAI_API_URL=https://api.openai.com/v1


# ==============================
# Embedding
# ==============================

EMBEDDER_MODEL=text-embedding-3-small


# ==============================
# FalkorDB
# ==============================

FALKORDB_DATABASE=default_db

# 内网单机 POC 可以暂时留空，正式环境建议设置。
FALKORDB_PASSWORD=
FALKORDB_BROWSER=1


# ==============================
# Graphiti
# ==============================

GRAPHITI_GROUP_ID=main

# episode ingestion 并发
SEMAPHORE_LIMIT=10

GRAPHITI_TELEMETRY_ENABLED=false
