# path: ./ansible.cfg

#### configuration priorities:
# - ANSIBLE_CONFIG
# - ansible.cfg
# - ~/.ansible.cfg
# - /etc/ansible/ansible.cfg

[defaults]
inventory = ./configs/hosts.ini
log_path = ./logs/ansible.log
private_key_file = ~/.ssh/id_rsa
# roles_path = /path/to/roles
