# networks:
#   net: { name: "registry", driver: "bridge", external: false }

services:
  registry-public:
    image: registry:3
    container_name: registry
    restart: always
    init: true
    network_mode: bridge
    # networks: ["net"]
    ports: ["127.0.0.1:5000:5000"]
    environment:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
      OTEL_TRACES_EXPORTER: none
    volumes:
    - ./configs/registry.yaml:/etc/distribution/config.yml:ro
    - ./configs/registry.htpasswd:/etc/registry
    - ./data/registry:/var/lib/registry
